/* DECLARAR VARIABLES */
/* $ColorVerde: green;

/* USAR LA VARIABLE DECLARADA Y DEFINIDA */
/* header{background-color: $ColorVerde;} */
h3 {
  color: black; }

/* NESTING */
header {
  background-color: yellow; }
  header div {
    padding: 10px; }
    header div h3 {
      font-size: 20px; }

a {
  text-decoration: none; }
  a:hover {
    color: brown; }
