/* GRID PRINCIPAL */
.gridContainer {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/* FIN GRID PRINCIPAL */
/* SCSS APLICADO AL HEADER */
header {
  background-image: linear-gradient(to bottom, #ffffff, #d1cdea, #a49ed5, #7470c0, #3c46aa);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header .sizeLogo {
    width: 150px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px; }
  header .flexAni {
    display: flex;
    flex-direction: row; }
    header .flexAni .animacionLi {
      transform: translateY(0px);
      transition: all 1s; }
      header .flexAni .animacionLi:hover {
        transform: translateY(-5px);
        color: black; }
      header .flexAni .animacionLi .editLiHeader {
        list-style-type: none;
        padding: 18px;
        display: inline; }
        header .flexAni .animacionLi .editLiHeader a {
          text-decoration: none; }

/* GRID MAIN INDEX */
.gridMainIndex {
  display: grid;
  gap: 4px;
  grid-template-areas: "encabezado encabezado encebezado" "primerTxt primerTxt aside" "segundoTxt segundoTxt aside";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto; }

.encabezado {
  grid-area: encabezado; }

.primerTexto {
  grid-area: primerTxt; }

.segundoTexto {
  grid-area: segundoTxt; }

.asideGrid {
  grid-area: aside; }

/* FIN GRID MAIN INDEX */
.colorTitulo {
  color: black;
  margin-bottom: 40px; }

.quoteBorder {
  border: solid;
  border-radius: 20px; }

.positionTxt {
  position: relative;
  left: 75px; }

.asideCenter {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* GRID MAIN ORIGEN */
.gridMainOrigen {
  display: grid;
  gap: 8px;
  grid-template-areas: "iframe iframe encabezadoOri" "secundarioOri izqOri derOri" "secundarioOri inferiorOri inferiorOri";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto; }

.iframeOri {
  grid-area: iframe; }

.encabezadoOri {
  grid-area: encabezadoOri; }

.secundarioOri {
  grid-area: secundarioOri; }

.imgIzqOri {
  grid-area: izqOri; }

.imgDerOri {
  grid-area: derOri; }

.imgInferioOri {
  grid-area: inferiorOri; }

.sizeInferiorOri {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 880px;
  height: 250px; }

.posiIframe {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.sizeDerOri {
  width: 100%; }

.sizeIzqOri {
  height: 247px;
  width: 430px; }

.borderTxt {
  padding: 10px;
  margin: 5px;
  border: 4px solid;
  border-radius: 20px; }

.encabezadoOri {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 90px; }

.subLugar {
  text-align: center; }

.secundarioOri {
  display: flex;
  flex-direction: column; }

.gridMainMatches {
  display: grid;
  gap: 10px;
  grid-template-areas: "tituloMatch tituloMatch tituloMatch" "primerJuego primerJuego ads" "segundoJuego segundoJuego ads" "tercerJuego tercerJuego ads";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto auto; }

.firstGame, .secGame, .thirdGame {
  grid-area: primerJuego; }

.secGame {
  grid-area: segundoJuego; }

.thirdGame {
  grid-area: tercerJuego; }

.encabezadoMatches {
  grid-area: tituloMatch; }

.espacioAds {
  grid-area: ads; }

.espacioAds {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid;
  border-radius: 20px; }

.encabezadoMatches {
  border: solid 3px;
  margin-bottom: 15px; }

.firstGame, .secGame, .thirdGame {
  border: solid 2px;
  margin-bottom: 15px; }

.sizeTable {
  padding: 50px;
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid; }

.bgMatch1 {
  background-image: url(../assets/img/inferno.jpg);
  height: 210px; }

.bgMatch2 {
  background-image: url(../assets/img/vertigo.jpg);
  height: 210px; }

.bgMatch3 {
  background-image: url(../assets/img/mirage.jpg);
  height: 210px; }

.fontColorCloud {
  color: lightblue; }

.fontColorNVI {
  color: yellow; }

.fontColorLiquid {
  color: blue; }

.gridMainEquipo {
  display: grid;
  gap: 2px;
  grid-template-areas: "tituloEquipo tituloEquipo tituloEquipo tituloEquipo tituloEquipo" "playerUno playerDos playerTres playerCuatro playerCinco";
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto auto; }

.encabezadoEquip {
  grid-area: tituloEquipo; }

.playerUno {
  grid-area: playerUno; }

.playerDos {
  grid-area: playerDos; }

.playerTres {
  grid-area: playerTres; }

.playerCuat {
  grid-area: playerCuatro; }

.playerCinc {
  grid-area: playerCinco; }

.encabezadoEquip {
  margin-bottom: 20px; }

.imgEquipo {
  width: 200px;
  height: 180px;
  margin-top: 10px; }

.jugadorFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid; }

/* SCSS APLICADO AL FOOTER */
footer {
  background-image: linear-gradient(to bottom, #3c46aa, #7470c0, #a49ed5, #d1cdea, #ffffff);
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  footer--p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }
  footer .flexRedes {
    display: flex;
    flex-direction: column; }
    footer .flexRedes .sizeTiktok {
      width: 60px;
      height: 60px;
      border-style: solid;
      margin: 5px; }
    footer .flexRedes .sizeRRSS {
      width: 60px;
      border-style: solid;
      display: flex;
      flex-direction: column;
      margin: 5px; }
  footer .animacionLi {
    transform: translateY(0px);
    transition: all 1s; }
    footer .animacionLi:hover {
      transform: translateY(-5px);
      color: black; }
    footer .animacionLi .editLiFooter {
      list-style-type: none;
      padding: 12px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* SCSS APLICADO AL MAIN*/
.encabezadoOri {
  overflow: hidden; }

.p-30 {
  padding: 30px; }

.borderH {
  border: solid; }

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

header, footer {
  margin-top: 40px; }

.sizeImg {
  width: 151%;
  height: 480px; }

.bgColor {
  background-color: white; }

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 30px; }

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

main p {
  line-height: 30px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.bgImg {
  background-image: url(../assets/img/dust2.jpg);
  height: 450px; }
