/* SCSS APLICADO AL FOOTER */
footer {
    background-image: linear-gradient(to bottom, #3c46aa, #7470c0, #a49ed5, #d1cdea, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &--p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    .flexRedes {
        display: flex;
        flex-direction: column;
        .sizeTiktok {
            width: 60px;
            height: 60px;
            border-style: solid;
            margin: 5px;
        }
        .sizeRRSS {
            width: 60px;
            border-style: solid;
            display: flex;
            flex-direction: column;
            margin: 5px;
        }
    }
    .animacionLi {
        transform: translateY(0px);
        transition: all 1s;
        &:hover {
            transform: translateY(-5px);
            color: black;
        }
        .editLiFooter {
            list-style-type: none;
            padding: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}