.gridMainNoticias{
    display: grid;
    grid-template-areas: 
    "tituloNoticia publi"
    "subtiNoticia publi";
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
}

.encabezadoNoticia{grid-area: tituloNoticia;
    margin-bottom: 20px;
}

.subtiNoticia{grid-area: subtiNoticia;
    margin-bottom: 110px;
}

.gridFormulario{
    display: grid;
    grid-template-areas: 
    "encuesta img";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.formularioNoticia{grid-area: encuesta;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

