/* DECLARAR VARIABLES */
/* $ColorVerde: green;

/* USAR LA VARIABLE DECLARADA Y DEFINIDA */
/* header{background-color: $ColorVerde;} */

$colorPrimario:brown;
$colorSecundario:red;
$bgPrimario:yellow;
$bgSecundario:green;
$colorNegro:black;
$colorBlanco:white;

h3{color: $colorNegro;}