@import "_gridprincipal";
@import "_header";
@import "_gridmaindex";
@import "_gridmainorigen";
@import "_gridmainmatches";
@import "_footer";

/* SCSS APLICADO AL MAIN*/
.asideCenter{display: flex;
    flex-direction: column;
    align-items: center;
}

.posiIframe{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.encabezadoOri{overflow: hidden;}

.p-30{padding: 30px;}

.borderH{border: solid;}

.positionTxt{position: relative;
    left: 75px;
}

h2{font-family: Verdana, Geneva, Tahoma, sans-serif;}

h4{font-family: Verdana, Geneva, Tahoma, sans-serif;}

header, footer{margin-top: 40px;}

.sizeImg {
    width: 151%;
    height: 480px;
    ;
}

.flexEquipo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flexStats {
    display: flex;
    flex-direction: column;
}


.bgColor {
    background-color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    line-height: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bgImg {
    background-image: url(../assets/img/dust2.jpg);
    height: 450px;
}