@import "_gridprincipal";
@import "_header";
@import "_gridmaindex";
@import "_gridmainorigen";
@import "_gridmainmatches";
@import "_gridmainequipo";
@import "_gridmainnoticias";
@import "_footer";

/* SCSS APLICADO AL MAIN*/
h1,h2,h3,h4,h5{font-family: Verdana, Geneva, Tahoma, sans-serif;}

header, footer{margin-top: 40px;}

.sizeImg {
    width: 151%;
    height: 480px;
}
.tituloCenter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}
main p {
    line-height: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
