@import "_gridprincipal";
@import "_header";
@import "_gridmaindex";
@import "_footer";

/* SCSS APLICADO AL MAIN*/
.asideCenter{display: flex;
    flex-direction: column;
    align-items: center;
}
.p-30{padding: 30px;}

.borderH{border: solid;}

.positionTxt{position: relative;
    left: 75px;
}

h2{font-family: Verdana, Geneva, Tahoma, sans-serif;}

header, footer{margin-top: 40px;}
.sizeImg {
    width: 151%;
    height: 480px;
    ;
}

.flexEquipo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flexStats {
    display: flex;
    flex-direction: column;
}

.colorTitulo {
    color: black;
}

.sizeTable {
    padding: 20px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
}

.bgMatch1 {
    background-image: url(../assets/img/inferno.jpg);
    height: 210px;
}

.bgMatch2 {
    background-image: url(../assets/img/vertigo.jpg);
    height: 210px;
}

.bgMatch3 {
    background-image: url(../assets/img/mirage.jpg);
    height: 210px;
}


.bgColor {
    background-color: white;
}

.fontColorCloud {
    color: lightblue;
}
.fontColorNVI {
    color: yellow;
}
.fontColorLiquid {
    color: blue;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p {
    line-height: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bgImg {
    background-image: url(../assets/img/dust2.jpg);
    height: 450px;
}